* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
h1 {
    text-align: center;
    font-size: 80px;
    color: #777;
    margin: 0px;
    background-color: black;
    border: 10px solid red;
    
}
body { 
    background-color: #777;
    
}